<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="addres" class="com.spring.five._five.AddressBean"> 
		<property name="houseNum" value="24-09"></property>
		<property name="city" value="Razm"></property>
		<property name="state" value="AP"></property>
		<property name="pincode" value="325245"></property>
	</bean>
	
	<bean id="student" class="com.spring.five._five.StudentBean"> 
		<property name="studentId" value="574"></property>
		<property name="studentName" value="Lakshmi"></property>
		<property name="address" ref="addres"></property>
		
	</bean>
	
</beans>