<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="student" class="com.spring.third._third.StudentBean"> 
		<property name="id" value="574"></property>
		<property name="name" value="Lakshmi"></property>
		<property name="course" value="spring"></property>
		<property name="batch" value="10"></property>
		<property name="location" value="Ameerpet"></property>
	</bean>
</beans>