<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="institute" class="com.spring.collections.List.AppliBeanCollection"> 
		
		<property name="studentNames">
			<list>
				<value>1.Lakshmi</value>
				<value>2.Lucky</value>
				<value>3.Lax</value>
				<value>4.Laks..</value>
			</list>
		</property>
	</bean>
	
	
</beans>